{% extends 'layout.html' %}
{% load static %}
{% block content %}
<body class="index-page">
  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'resources/img/hero.jpg' %}" alt="" data-aos="fade-in">

      <div class="container d-flex flex-column align-items-center">
        <h2 data-aos="fade-up" data-aos-delay="100">PLAN. LAUNCH. GROW.</h2>
        <p data-aos="fade-up" data-aos-delay="200">We offer services designed to elevate your online presence and drive business growth.</p>
        <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
          <a href="#about" class="btn-get-started">Get Started</a>
          <a href="{% static 'videos/digicraft-profile.mp4' %}" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h2><strong>About Us</strong></h2>
            <img src="{% static 'resources/img/aboutus.jpg' %}" class="img-fluid rounded-4 mb-4" alt="company image">
            <h3><em>Our Vision</em></h3>
            <p>To be the leading digital innovation partner, empowering businesses to thrive in the digital age through cutting-edge webdevelopment, marketing and graphic design solutions.</p>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
            <div class="content ps-0 ps-lg-5">
              <h3><em>Our Mission</em></h3>
              <p>
                At Digicraft, our mission is to deliver innovative solutions that empower individuals and businesses to achieve their full potential.
                We are committed to excellence, sustainability, and creating value for our customers through high-quality products and services. Through:
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> <span>Delivering exceptional web development solutions.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Driving digital transformation.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Fostering growth and success.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Maintaining ethical and sustainable practices.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Nurturing a collaborative and innovative culture.</span></li>
              </ul>
              <p>
                As we continue to grow and evolve, Digicraft remains steadfast in our mission to drive innovation and create meaningful change. 
                We believe that by staying true to our values and maintaining a customer-centric focus, we can make a lasting impact on the industries we serve and contribute to a brighter, more sustainable future for all.
              </p>

              <div class="position-relative mt-4">
                <img src="{% static 'resources/img/companyprofile.jpeg' %}" class="img-fluid rounded-4" alt="">
                <a href="{% static 'videos/digicraft-profile.mp4' %}" class="glightbox pulsating-play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                <p>Happy Clients</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-headset color-green flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hours Of Support</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-people color-pink flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hard Workers</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>Featured Services<br></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-5">

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'resources/img/1690355068007.jpeg' %}" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-code"></i>
                </div>
                <a href="{% url 'service_detail' %}" class="stretched-link">
                  <h3>Web Development</h3>
                </a>
                <p>Professional web development services including frontend, digital, and full-stack solutions.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'resources/img/0_tkOjLUG81W3nICMS.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-brush"></i>
                </div>
                <a href="{% url 'service_detail' %}" class="stretched-link">
                  <h3>Graphic Design</h3>
                </a>
                <p>Creative and professional graphic design solutions.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'resources/img/dmi-kenya-3.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-megaphone"></i>
                </div>
                <a href="{% url 'service_detail' %}" class="stretched-link">
                  <h3>Digital Marketing</h3>
                </a>
                <p>Comprehensive strategies to enhance your online presence and drive engagement.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Clients Section -->
    <section id="clients" class="clients section light-background">

      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{% static 'resources/img/clients/client-1.png' %}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{% static 'resources/img/clients/client-2.png' %}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{% static 'resources/img/clients/client-3.png' %}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{% static 'resources/img/clients/client-4.png' %}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{% static 'resources/img/clients/client-5.png' %}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{% static 'resources/img/clients/client-6.png' %}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

        </div>

      </div>

    </section><!-- /Clients Section -->

    <!-- Features Section -->
    <section id="features" class="features section">

      <div class="container">

        <ul class="nav nav-tabs row  d-flex" data-aos="fade-up" data-aos-delay="100">
          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
              <i class="bi bi-code"></i>
              <h4 class="d-none d-lg-block">Web Development</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
              <i class="bi bi-megaphone"></i>
              <h4 class="d-none d-lg-block">Digital Marketing</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
              <i class="bi bi-brush"></i>
              <h4 class="d-none d-lg-block">Graphic Design</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-4">
              <i class="bi bi-chat"></i>
              <h4 class="d-none d-lg-block">Social Media Management</h4>
            </a>
          </li>
        </ul><!-- End Tab Nav -->

        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

          <div class="tab-pane fade active show" id="features-tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Web Development</h3>
                <p class="fst-italic">
                  Our team of skilled developers specializes in creating stunning, responsive websites that are not only visually appealing but also optimized for performance and user experience. 
                  From custom website design to e-commerce solutions, we have the expertise to bring your vision to life.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i>
                    <span>Custom website development.</span>
                  </li>
                  <li><i class="bi bi-check2-all"></i> <span>E-Commerce Websites.</span>.</li>
                  <li><i class="bi bi-check2-all"></i> <span>Modern framework expertise.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Portfolio Websites.</span>.</li>
                  <li><i class="bi bi-check2-all"></i> <span>Cooperate Websites.</span>.</li>
                </ul>
                <p>
                  Unlock the potential of your online presence with our comprehensive web development services. 
                  Our Team specialize in creating responsive, user-friendly websites tailored to meet your business needs. Whether it’s a dynamic web application or a sleek landing page, We leverage the latest technologies and frameworks to deliver high-performance solutions that engage users and drive results. 
                  Let’s build something great together!
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'resources/img/1690355068007.jpeg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="features-tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Digital Marketing</h3>
                <p>
                  In today's competitive digital landscape, effective marketing is essential. Our digital marketing strategies combine data-driven insights with creative execution to help you reach your target audience and achieve your business goals. 
                  We offer services such as search engine optimization (SEO), pay-per-click (PPC) advertising, content marketing, and email marketing.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span>Search Engine Optimization (SEO).</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Content Marketing.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Pay-Per-Click Advertising (PPC).</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Email Marketing.</span></li>
                </ul>
                <p class="fst-italic">
                  We specialize in crafting tailored digital marketing strategies that elevate your brand and drive results. 
                From optimizing your website for search engines to creating engaging content and managing effective advertising campaigns, my approach focuses on delivering measurable outcomes. 
                Let's work together to enhance your online visibility, engage your audience, and achieve your marketing goals!</p>

                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'resources/img/dmi-kenya-3.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="features-tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Graphic Design</h3>
                <p>
                  A visually appealing brand identity is crucial for making a lasting impression. 
                  Our graphic designers can create stunning logos, branding materials, and other visual assets that align with your brand's personality and messaging.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span>Brand Identity Design.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>3D Modelling.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>UI/UX Design.</span></li>
                </ul>
                <p class="fst-italic">
                  Elevate your brand with professional and creative design solutions. From brand identity to 3D modeling and UI/UX design, We bring ideas to life with visually stunning graphics that align with your vision and business goals. 
                Let’s create compelling designs that captivate your audience!
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'resources/img/0_tkOjLUG81W3nICMS.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="features-tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Social Media Management</h3>
                <p>
                  Social media platforms offer a powerful way to connect with your customers and build brand awareness. 
                  Our social media management services include content creation, community engagement, and analytics to help you maximize your social media presence.
                </p>
                
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span>Content Creation and Scheduling.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Audience Engagement and Community Building.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Analytics and Performance Tracking.</span></li>
                </ul>
                <p class="fst-italic">
                  Enhance your online presence with tailored social media management solutions. 
                From creating engaging content and building your community to analyzing performance metrics, I ensure your brand connects with your audience effectively. 
                Let’s elevate your social media strategy for maximum impact!
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'resources/img/socialmedia.png' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

        </div>

      </div>

    </section><!-- /Features Section -->

    <!-- Services 2 Section -->
    <section id="services-2" class="services-2 section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>CHECK OUR SERVICES</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-palette icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="{% url 'service_detail' %}" class="stretched-link">Branding</a></h4>
                <p class="description">Comprehensive branding services to create a strong identity for your business, including logo design, brand strategy, and visual guidelines that resonate with your target audience.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-grid icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="{% url 'service_detail' %}" class="stretched-link">UI/UX Design</a></h4>
                <p class="description">We focus on creating user-friendly and visually appealing interfaces for websites and mobile applications.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-currency-dollar icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="{% url 'service_detail' %}" class="stretched-link">Paid Advertising</a></h4>
                <p class="description">Manage paid advertising campaigns on platforms like Facebook, Instagram, and LinkedIn. Target specific demographics and interests. Optimize campaigns for maximum ROI.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-briefcase icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="{% url 'service_detail' %}" class="stretched-link">Coorprate Website</a></h4>
                <p class="description">Professional corporate websites tailored to strengthen your brand, engage clients, and effectively communicate your company’s values and services.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-cart icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="{% url 'service_detail' %}" class="stretched-link">E-commerce Website</a></h4>
                <p class="description">Custom eCommerce websites designed to enhance user experience, drive sales, and support secure transactions for your online business success.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-phone icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="{% url 'service_detail' %}" class="stretched-link">App Development</a></h4>
                <p class="description">At DigiCraft, we specialize in crafting cutting-edge mobile applications tailored to your unique needs. Our experienced team leverages the latest technologies to deliver user-friendly, high-performance solutions.
                  </p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-person-circle icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="{% url 'service_detail' %}" class="stretched-link">Portfolio Websites</a></h4>
                <p class="description">Professional portfolio websites that showcase your work, skills, and achievements with sleek design and easy navigation to elevate your brand.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-globe icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="{% url 'service_detail' %}" class="stretched-link">Multilingual Websites</a></h4>
                <p class="description">Multilingual websites designed to reach diverse audiences by providing seamless language options and localized content for a global experience.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-server icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="{% url 'service_detail' %}" class="stretched-link">Backend Systems</a></h4>
                <p class="description">Robust backend systems to ensure seamless functionality, secure data management, and efficient support for your application’s core processes.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-brush-fill icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="{% url 'service_detail' %}" class="stretched-link">3D Modelling</a></h4>
                <p class="description">Discover our 3D Design and Animation Services using Blender, specializing in 3D modeling, animation, visual effects, and architectural visualization.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services 2 Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section dark-background">

      <img src="{% static 'resources/img/testimonials-bg.jpg' %}" class="testimonials-bg" alt="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'resources/img/testimonials/testimonials1.jpeg' %}" class="testimonial-img" alt="Sharon Lashemwa">
                <h3>Sharon Lashemwa</h3>
                <h4>Stylecube Glam</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>My clothing line business experienced a significant boost after digicraft came through to offer  digital marketing campaign services. 
                    Their strategies, including SEO, social media marketing, and email campaigns, effectively increased brand visibility and online traffic. 
                    The targeted approach resulted in a substantial increase in sales and customer engagement. 
                    I wish to  express satisfaction with the professionalism and expertise of Digicraft's team, highlighting the positive impact on my business growth.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'resources/img/testimonials/testimonials2.jpeg' %}" class="testimonial-img" alt="Lakeview Pharmaceuticals">
                <h3>Lakeview Pharmaceuticals</h3>
                <h4>Pharmaceutical</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>We were impressed with Digicraft  ability to create a strong brand identity that resonated with our target audience. 
                    Digicraft's team successfully developed a comprehensive digital marketing and branding strategies,  including logo, social media pages and social media campaigns, which led to increased social media page traffic and brand awareness. 
                    We praise Digicraft's creative design work, which elevated our brand's visual appeal.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'resources/img/testimonials/testimonials.jpeg' %}" class="testimonial-img" alt="Macrotel Technologies">
                <h3>Macrotel Technologies</h3>
                <h4>Computer Store in Kisumu</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>We expressed satisfaction with Digicraft's digital marketing and branding services. 
                    We noted a significant increase in website traffic and online visibility after implementing their strategies. 
                    The new branding, including logo and social media campaigns, effectively conveyed our brand identity and professional image. 
                    We particularly appreciate their SEO efforts, which resulted in higher search engine rankings and increased organic traffic. 
                    We are pleased with the return on investment and would recommend our services to other businesses.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>CHECK OUR PORTFOLIO</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Web</li>
            <li data-filter=".filter-product">Product</li>
            <li data-filter=".filter-branding">Branding</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <div class="portfolio-content h-100">
                <img src="{% static 'resources/img/portfolio/branding.jpeg' %}" class="img-fluid" alt=" Macrotel Technologies">
                <div class="portfolio-info">
                  <h4>Macrotel Technologies</h4>
                  <p>Macrotel Technologies Company Logo</p>
                  <a href="{% static 'resources/img/portfolio/branding.jpeg' %}" title="Macrotel" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'portfolio_detail' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <div class="portfolio-content h-100">
                <img src="{% static 'resources/img/portfolio/product.jpeg' %}" class="img-fluid" alt="Digicraft Hoodie">
                <div class="portfolio-info">
                  <h4>Digicraft Hoodie</h4>
                  <p>Digicraft Hoodie</p>
                  <a href="{% static 'resources/img/portfolio/product.jpeg' %}" title="Digicraft Hoodie" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'portfolio_detail' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <div class="portfolio-content h-100">
                <img src="{% static 'resources/img/portfolio/branding-2.jpeg' %}" class="img-fluid" alt="Pebble Feeds">
                <div class="portfolio-info">
                  <h4>Pebble Feeds</h4>
                  <p>Pebble Feeds Logo</p>
                  <a href="{% static 'resources/img/portfolio/branding-2.jpeg' %}" title="Pebble Feeds" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'portfolio_detail' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <div class="portfolio-content h-100">
                <img src="{% static 'resources/img/portfolio/product2.jpeg' %}" class="img-fluid" alt="Digicraft T-Shirt">
                <div class="portfolio-info">
                  <h4>Digicraft T-Shirt</h4>
                  <p>Digicraft T-Shirts</p>
                  <a href="{% static 'resources/img/portfolio/product2.jpeg' %}" title="Digicraft T-Shirt" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'portfolio_detail' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <div class="portfolio-content h-100">
                <img src="{% static 'resources/img/portfolio/branding3.jpeg' %}" class="img-fluid" alt="Trick Automotives">
                <div class="portfolio-info">
                  <h4>Trick Automotives</h4>
                  <p>Trick Automotives Driving Excellence</p>
                  <a href="{% static 'resources/img/portfolio/branding3.jpeg' %}" title="Trick Automotives" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'portfolio_detail' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <div class="portfolio-content h-100">
                <img src="{% static 'resources/img/portfolio/product3.jpeg' %}" class="img-fluid" alt="Digicraft Crewneck Sweatshirt">
                <div class="portfolio-info">
                  <h4>Digicraft Crewneck Sweatshirt</h4>
                  <p>Crewneck Sweatshirt</p>
                  <a href="{% static 'resources/img/portfolio/product3.jpeg' %}" title="Digicraft Crewneck Sweatshirt" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'portfolio_detail' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <div class="portfolio-content h-100">
                <img src="{% static 'resources/img/portfolio/branding4.jpeg' %}" class="img-fluid" alt="Tranquil Interiors">
                <div class="portfolio-info">
                  <h4>Tranquil Interiors</h4>
                  <p>Tranquil Interiors</p>
                  <a href="{% static 'resources/img/portfolio/branding4.jpeg' %}" title="Tranquil Interiors" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'portfolio_detail' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <div class="portfolio-content h-100">
                <img src="{% static 'resources/img/portfolio/product4.jpeg' %}" class="img-fluid" alt="Digicraft Mug">
                <div class="portfolio-info">
                  <h4>Digicraft Mug</h4>
                  <p>Black Digicraft Mug</p>
                  <a href="{% static 'resources/img/portfolio/product4.jpeg' %}" title="Digicraft Mug" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'portfolio_detail' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <div class="portfolio-content h-100">
                <img src="{% static 'resources/img/portfolio/branding5.jpeg' %}" class="img-fluid" alt="DDs Homes">
                <div class="portfolio-info">
                  <h4>DDs Homes</h4>
                  <p>Rental Home Services</p>
                  <a href="{% static 'resources/img/portfolio/branding5.jpeg' %}" title="DDs Homes" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'portfolio_detail' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <div class="portfolio-content h-100">
                <img src="{% static 'resources/img/portfolio/product1.jpeg' %}" class="img-fluid" alt="Digicraft Heavyweight Hoodie">
                <div class="portfolio-info">
                  <h4>Digicraft Heavyweight Hoodie</h4>
                  <p>Digicraft Heavyweight Hoodies</p>
                  <a href="{% static 'resources/img/portfolio/product1.jpeg' %}" title="Digicraft Heavyweight Hoodie" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'portfolio_detail' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <div class="portfolio-content h-100">
                <img src="{% static 'resources/img/portfolio/branding1.jpeg' %}" class="img-fluid" alt="Lakeview Pharmaceuticals">
                <div class="portfolio-info">
                  <h4>Lakeview Pharmaceuticals</h4>
                  <p>Lake View  Pharmaceuticals logo</p>
                  <a href="{% static 'resources/img/portfolio/branding1.jpeg' %}" title="Lakeview Pharmaceuticals" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'portfolio_detail' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <div class="portfolio-content h-100">
                <img src="{% static 'resources/img/portfolio/branding6.jpeg' %}" class="img-fluid" alt="Apparent Power Systems">
                <div class="portfolio-info">
                  <h4>Apparent Power Systems</h4>
                  <p>Apparent Power Systems The Total Power Flowing</p>
                  <a href="{% static 'resources/img/portfolio/branding6.jpeg' %}" title="Apparent Power Systems" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'portfolio_detail' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <img src="{% static 'resources/img/portfolio/web1.png' %}" class="img-fluid" alt="Crime Report System">
                <div class="portfolio-info">
                  <h4>Crime Report System</h4>
                  <p>An online crime reporting web application</p>
                  <a href="{% static 'resources/img/portfolio/web1.png' %}" title="Crime Report System" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'portfolio_detail' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->


            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <img src="{% static 'resources/img/portfolio/web3.png' %}" class="img-fluid" alt="Watchlist">
                <div class="portfolio-info">
                  <h4>Watchlist</h4>
                  <p>Movie Database</p>
                  <a href="{% static 'resources/img/portfolio/web3.png' %}" title="Watchlist" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'portfolio_detail' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <img src="{% static 'resources/img/portfolio/web2.png' %}" class="img-fluid" alt="Personal Gallery Application">
                <div class="portfolio-info">
                  <h4>Personal Gallery Application</h4>
                  <p>A personal gallery web application</p>
                  <a href="{% static 'resources/img/portfolio/web2.png' %}" title="Personal Gallery Application" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'portfolio_detail' %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->

    <!-- Pricing Section -->
    <section id="pricing" class="pricing section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Pricing</h2>
        <p>Check Our Pricing Plans</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-3">

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item">
              <h3>Digital Marketing</h3>
              <h4><sup>Ksh</sup>6999<span> / start price</span></h4>
              <ul>
                <li>Social Media Ads</li>
                <li>SEO Optimization</li>
                <li>Email Marketing</li>
                <li>Content Strategy</li>
                <li>Analytics Reporting</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Order Now</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="pricing-item featured">
              <h3>Logo Creation</h3>
              <h4><sup>Ksh</sup>1999<span> / one-time</span></h4>
              <ul>
                <li>Custom Logo Design</li>
                <li>Multiple Revisions</li>
                <li>High-Resolution Files</li>
                <li>Branding Guide</li>
                <li class="na">Advanced Logo Animation</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Order Now</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="pricing-item">
              <h3>Posters</h3>
              <h4><sup>Ksh</sup>499<span> / start price</span></h4>
              <ul>
                <li>Custom Designs</li>
                <li>High Resolution</li>
                <li>Digital & Print-Ready</li>
                <li>Quick Turnaround</li>
                <li class="na">Bulk Discounts Available</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Order Now</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="pricing-item featured">
              <h3>Social Media Management</h3>
              <h4><sup>Ksh</sup>4999<span> / weekly</span></h4>
              <ul>
                <li>Daily Content Posting</li>
                <li>Engagement Tracking</li>
                <li>Custom Visuals</li>
                <li>Brand Voice Alignment</li>
                <li>Monthly Reports</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Order Now</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="500">
            <div class="pricing-item">
              <h3>Basic Website</h3>
              <h4><sup>Ksh</sup>19,999 - 29,999</h4>
              <ul>
                <li>Single Page</li>
                <li>Responsive Design</li>
                <li>Basic SEO</li>
                <li>Email Integration</li>
                <li>Free Domain</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Order Now</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="600">
            <div class="pricing-item featured">
              <h3>Business Pro</h3>
              <h4><sup>Ksh</sup>34,999 - 69,999</h4>
              <ul>
                <li>Multi-Page Website</li>
                <li>SEO Optimization</li>
                <li>Custom Branding</li>
                <li>Google Analytics</li>
                <li>Monthly Maintenance</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Order Now</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="700">
            <div class="pricing-item">
              <span class="advanced">Advanced</span>
              <h3>Enterprise Solution</h3>
              <h4><sup>Ksh</sup>44,999 - 89,999</h4>
              <ul>
                <li>Custom Web Application</li>
                <li>Advanced Security Features</li>
                <li>Cloud Hosting</li>
                <li>Priority Support</li>
                <li>Quarterly Analytics</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Order Now</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>

    </section><!-- /Pricing Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
        <p>Frequently Asked Questions</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-12">
            <div class="custom-accordion" id="accordion-faq">
              <div class="accordion-item">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-faq-1">
                    What is Digicraft?
                  </button>
                </h2>

                <div id="collapse-faq-1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion-faq">
                  <div class="accordion-body">
                    Digicraft is a web-development and marketing company. We are passionate about crafting exceptional digital experiences that resonate with your audience. 
                    As your trusted partner, we offer a comprehensive suite of services designed to elevate your online presence and drive business growth.
                  </div>
                </div>
              </div>
              <!-- .accordion-item -->

            <div class="accordion-item">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-faq-3">
                  Why should I choose Digicraft?
                </button>
              </h2>

              <div id="collapse-faq-3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-faq">
                <div class="accordion-body">
                  Our team has years of experience in the digital industry, ensuring that you receive the highest quality services. 
                      We understand that every business is unique, and we tailor our services to meet your specific needs and goals. 
                      Our focus is on delivering measurable results that drive your business forward. 
                      We pride ourselves on providing excellent customer service and building long-lasting relationships with our clients.
                </div>
              </div>
            </div>
            <!-- .accordion-item -->
          </div>
        </div>
      </div>
      </div>
    </section><!-- /Faq Section -->

    <!-- Team Section -->
    <section id="team" class="team section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>CHECK OUR TEAM</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src="{% static 'resources/img/team/portfolio1.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Muli Munyoki</h4>
                <span>Software Engineer</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href="https://github.com/MuliJob"><i class="bi bi-github"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="pic"><img src="{% static 'resources/img/team/Unknown_person.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Samwel Mathenge</h4>
                <span>Product Manager</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href="https://www.facebook.com/xummypogba.mathes"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/mathenge_samm/profilecard/?igsh=ejN2dmhrZDhrNHVj"><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic"><img src="{% static 'resources/img/team/Unknown_person.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>John Doe</h4>
                <span>Graphic Designer</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>GET IN TOUCH</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 ">
            <div class="row gy-4">

              <div class="col-lg-12">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>Kisumu, Kenya</p>
                  <p>Narok, Kenya</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+254 787 850022</p>
                  <p>+254 797 969664</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@digicraft.ke</p>
                </div>
              </div><!-- End Info Item -->

            </div>
          </div>

          <div class="col-lg-6">
            <form action="" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="500">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="4" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>
</body>
{% endblock content %}